name: example
description: Story book of ui components
version: 1.0.0+1
publish_to: none

environment:
  sdk: '>=3.5.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  lucide_icons_flutter: ^1.1.2
  storybook_flutter: ^0.11.0
  ui_components_lib:
    path: ../

dev_dependencies:
  broxus_flutter_analysis:
    git:
      url: https://github.com/broxus/flutter_templates.git
      ref: main
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/
