# Password for the GPG tarball
export SECRET_PASSPHRASE=""

# Passphrase for profiles and certificates (iOS provisionins)
export MATCH_PASSWORD=""

# Login and password for you AppleID for AppStore Connect
export FASTLANE_USER=""
export FASTLANE_PASSWORD=""
